<div class="main-message">
  <div class="messenger-name"><%= message.user.name %></div>
  <p class="datetime"><%= l message.created_at %></p>
</div>
<div class="chat-message">
  <%= message.content %>
</div>