<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-link">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="chat-rooms">
    <a href="#">testroom</a>
  </div>
  <div class="chat-rooms">
    <a href="#">testroom2</a>
  </div>
</div>