<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-link">
    <%= link_to "チャットルームを作成する", new_room_path %>
  </div>
</div>

<div class="side-main">
  <% current_user.rooms.each do |room| %>
  <div class="chat-rooms">
    <a href="#"><%= room.name %></a>
  </div>
  <% end %>
</div>